@use "../abstracts/" as *;
#visitor\/listing{
    position: relative;
    height: 100vh;

    // Cards
    // ***************
    .cards-wrapper{
        @include min-S-laptop{
            padding: 0 10%;
        }
        .card-wrapper{
            @include min-S-laptop{
                width: 33.33%;
            }
            .card{
                margin-top: 2.2rem;
            }
        }
    }
    .filter-icon{
        position: fixed;
        bottom: 18px;
        right: 18px;
        z-index: 9;
        cursor: pointer;
    }

    .no-items-screen-overlay{
        width: 100%;
        height: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $background-normal;
        opacity: 0;
        z-index: 11;
    }
    .no-items-screen-overlay.active{
        height: 100%;
        opacity: 0.8;
    }
    .no-items-popup{
        opacity: 0;
        transition: opacity 20ms ease-in;
        pointer-events: none;
        z-index: 12;
        background-color: $primary-default;
        width: fit-content;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 1rem;
        border-radius: 5px;
        p{
            color: $background-light;
            // margin-bottom: 14px;
        }
        .sorry-mate{
            font-size: 12px;
            font-weight: 300;
            color: $background-normal;
            margin-bottom: 14px;
        }
        .back-to-filters{
            background-color: $primary-contrast;
            color: $background-light;
            margin-left: 7px;
            transition: all 150ms ease-in-out;
                    &:hover{
                        background-color: $confirm-color;
                        transform: scale(1.1);
                    }
        }
    }
    .no-items-popup.active{
        opacity: 1;
        pointer-events: all;
    }
}