// Sass Variables

// Colors
$primary-default: #A16A5E;
$background-light: #FCEBD5;
$background-normal: #EDD5BB;
$background-dark: #E09686;
$text-white: #F8F8F8;
$text-default: #5A5A5A;
$brick-white: #FFFFFF66;
$primary-contrast: #D44C2E;
$confirm-color: #d4392e;
$primary-green: #1BAC6F;
$primary-blue: #1B59AC;
$primary-blue-disabled: #7287a28c;
$background-gray: #E5E5E5;
// ------------------------
